<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content #content id="content">
  <ion-grid>
    <ion-row *ngFor="let mensaje of mensajes">
 
      <ion-col size="9" class="message other-message">
        <b>{{ mensaje.user }}</b><br>
        <span>{{ mensaje.texto }}</span>
        <div class="time ion-text-right"><br>{{ mensaje.time | date: "HH:mm"}}</div>
      </ion-col>
      

    </ion-row>
    <div id="content-end" class="my-custom-scrollbar" #scroll></div>
  </ion-grid>
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10"> 
        <ion-textarea auto-grow placeholder=" Escribe un mensaje aquí" class="message-input" rows="1" [(ngModel)]="texto"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn" (click)="enviarMensaje()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>